.top {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.bottom {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-top-width: 0px;
}

.errors {
	margin-top: 5px;
	min-height: 35px;
	font-size: 18px;
}
